<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<div>
    <a href="/blog">All Titles</a>
</div>
<form method="post" action = "filter">
    <input type="text" name="filter"/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <button type="submit">Search</button>
</form>
{{#titles}}
    <div>
        <b>{{id}}</b>
        <span>{{titleName}}</span>
        <i>{{titleTag}}</i>
    </div>
{{/titles}}
</body>
</html>